.catalog {
    background-color: #fafafa;
    /* padding-top: 15px; */
    padding-bottom: 45px;
}

.catalog>.hero>h3{
    font-family: 'poppins';
    font-weight: 600;
    padding-top: 20px;
    text-align: left;
    font-size: 89px;
    color: #fafafa7a;
    margin-left: -20px;
    margin-bottom: 0;

}
.catalog>.hero{
    background-color: rgba(24, 2, 146, 0.918);
    margin-top: 0;
    color:white
}

.catalog .products{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.catalog>.products>.filter{

    padding-top: 8vh;
    padding-bottom: 4vh;
    font-family: 'poppins';
    background-color: rgba(175, 175, 175, 0.811);
}
.catalog>.products>.filter>.btn-filter{
    margin-left: 10px;
    margin-right: 10px;
    border: solid 1px;
    padding:5px 10px 5px 10px;
    border-radius: 4px;
    font-family: 'poppins';
    font-size: 16px;
}
.catalog>.products>.filter>.btn-filter:hover{
    background-color: rgba(10, 107, 197, 0.829);;
    color: white;
}


@media screen and (max-width: 768px) {
    .catalog .products{
        /* background-color: red; */
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 1024) and (min-width: 770px) {
    .catalog{
        /* background-color: red; */
        border: solid 10px;
        width: 100%;
        padding: 0;
        margin: 0;

    }

}