/* .qt-picker{

} */

.qt-picker button{
    margin: 5px 10px;
    border: solid 1px;
    padding: 8px 15px;
    border-radius: 5px;
}

.qt-picker label{
    display: inline-block;
    width: 20px;
    font-weight: bold;
}

.qt-picker .bt-plus{
    background-color: green;
    color:white;
}

.qt-picker .bt-minus{
    background-color: red;
    color:white;
}
.qt-picker .bt-minus[disabled]{
    background-color: rgb(211, 211, 211);
}