.services{
    
    
}
.serviceComponent {
    border:solid 1px;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:15px;
}

.serviceComponent>.icon{
    font-size: 40px;
    padding: 2vh 0 2vh 0;
    color:rgb(255, 136, 0)
}