#slider{
    min-height: 92vh;
    background-image: url('../../public/slider-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider>.carousel-inner>#sliderItemMain>h2{
    padding-top: 30vh;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: white;
    /* padding-bottom: 20px; */
}

#slider>.carousel-inner>#sliderItemMain>h3{
    color:rgb(255, 255, 255);
    text-decoration: wavy;
}

#slider>.carousel-inner>#sliderItemMain>.button-slider{
    border:solid 2px;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    margin-top: 40px;
    color: white;
    font-size: 20px;
    background-color: rgba(158, 77, 6, 0.377);

}